div.spinner {
	top: 60px;
	left: 170px;
}

a.btn span.glyphicon, button.btn span.glyphicon {
	top: 2px;
}

div.ui-dialog-content {
	padding: 15px;
}

.ui-dialog .ui-dialog-titlebar-close {
	float: right;
}