div.container .brand {
	color: #918900;
}

.navbar-inner, .navbar-inverse {
   min-height: 25px;
}

body {
	padding-top: 40px;
}

div.spinner {
	top: 60px;
	left: 170px;
}

a.btn span.glyphicon, button.btn span.glyphicon {
	top: 2px;
}

div.ui-dialog-content {
	padding: 15px;
}

.ui-dialog .ui-dialog-titlebar-close {
	float: right;
}